

<div class="row max-height">

  <div class="col-xs-3 max-height overflow-y-scroll">

    <div id="control">
       <strong>Start:</strong>
       <select id="start-point" onchange="calcRoute();">
         <option value="<%= @loc1.address%>">you</option>
         <option value="<%= @loc2.address %>">your friend</option>
       </select>
       <strong>End:</strong>
       <select id="yelp-point" onchange="calcRoute();">
         <% @best_three_hash.each_with_index do |business, num| %>
           <option value="<%= business[:address] %>"><%= business[:name] %></option>
         <% end %>
       </select>
       <p style="display: none;" class="friend-latlong"><%= @loc1.latitude.to_s + ", " + @loc1.longitude.to_s %></p>
       <p style="display: none;" class="friend-latlong"><%= @loc2.latitude.to_s + ", " + @loc2.longitude.to_s %></p>


     </div>

    <div id="directions-panel"></div>
  </div>

  <div class="col-xs-6 map-panel max-height">
    <div id="map-canvas" class="max-height"></div>
  </div>

  <div class="col-xs-3">
    <% @best_three_hash.reverse.each_with_index do |business, index| %>
      <div class="yelp-result" id="yelp-result-<%= index %>">
        <h2><a target="_blank" href="<%= business[:the_url] %>"><%= business[:name] %></a></h2>
        <p class="yelp-point"><%= business[:address] %></p>
        <p><img src="<%= business[:rating_img] %>"><p>
        <p><%= business[:review_count] %> reviews</p>
        <p style="display: none;" class="yelp-latlong"><%= business[:lat].to_s + ", " + business[:long].to_s %></p>
      </div>
    <% end %>
  </div>

  <div style="display:none" class="text" id="number_form">
    <%= form_tag(send_text_path, :method => :get, remote: true) do %>
      <div style=display:none><input name='sent_from_add' type='hidden' value='<%= @loc2.address %>'/></div>
      <%= text_field_tag(:number, nil, :placeholder => '555-555-5555')%><br>
      <%= submit_tag("Submit", id: "close-this") %>
    <% end %>
  </div>

  <a href="#number_form" class="fancybox"><button type="button" class="btn btn-primary btn-lg"><div>Text This!</div></button></a>
</div>
