<%#= link_to "Chat!", center_messages_path, id: "chat_link" %>
<button class="red center btn btn-info" id="chat_link">Chat!</button>
  <div class="chat_box hidden_chat" id="chat_form">
     <ul id="chat_ul_to_append">
      <% @messages.select {|m| m.name != nil}.each do |message| %>
        <p class="chat_line"><%= message.name %> says... <%= message.content %></p>
      <% end %>
    </ul>

      <%= form_for([@center, @message], remote: true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :content %>
        <%= f.text_field :content %>
        <br>

      <%= f.submit "Send", class: "btn btn-primary form-actions" %>
    
    <% end %>
      <%= button_to [@center, @message], remote: true, method: :delete, class: "btn btn-danger", id: "style-button" do %>
      Clear Chats
    <% end %>
    <%= subscribe_to "/center/#{@center.id}/messages" %>
    
  </div>

<div class="row max-height">

  <div class="col-xs-12 map-panel max-height">
    <div id="map-canvas" class="max-height"></div>
    <span id="center-data" class="hidden"><%= "#{@center.latitude},#{@center.longitude}" %></span>
  </div>

  <div class="col-xs-3 max-height all-yelp-results-div">
    <% @best_three_hash.reverse.each_with_index do |business, index| %>
      <div class="yelp-result active-yelp" id="yelp-result-<%= index %>">
        <h2 class="yelp-result-h2"><a target="_blank"><%= business[:name] %></a></h2>
        <p class="yelp-point"><%= business[:address] %></p>
        <p><img src="<%= business[:rating_img] %>"></p>
        <p><%= business[:review_count] %> reviews</p>
        <p style="display: none;" class="yelp-latlong"><%= business[:lat].to_s + ", " + business[:long].to_s %></p>
      </div>
    <% end %>

    <div id="control">
       <strong>Start:</strong>
       <select id="start-point" onchange="calcRoute();">
         <option value="<%= @loc1.address%>">you</option>
         <option value="<%= @loc2.address %>">your friend</option>
       </select>
       <strong>End:</strong>
       <select id="yelp-point" onchange="calcRoute();">
         <% @best_three_hash.each_with_index do |business, num| %>
           <option value="<%= business[:address] %>"><%= business[:name] %></option>
         <% end %>
       </select>
       <p style="display: none;" class="friend-latlong"><%= @loc1.latitude.to_s + ", " + @loc1.longitude.to_s %></p>
       <p style="display: none;" class="friend-latlong"><%= @loc2.latitude.to_s + ", " + @loc2.longitude.to_s %></p>


     </div>

  <div id="directions-panel"></div>

    <a href="#number_form" class="fancybox"><button type="button" class="btn btn-primary btn-lg"><div>Text This!</div></button></a>
  </div>

    <div style="display:none" class="text" id="number_form">
      <%= form_tag(send_text_path, :method => :get, remote: true) do %>
        <div style=display:none><input name='sent_from_add' type='hidden' value='<%= @loc2.address %>'/></div>
        <%= text_field_tag(:number, nil, :placeholder => '555-555-5555')%><br>
        <%= submit_tag("Submit", id: "close-this") %>
      <% end %>
    </div>
    </div>
  </div>
</div>
