<h1>Map!</h1>
<p>You're coming from: <%= @loc1.address %></p>
<p>Your friend's coming from: <%= @loc2.address %></p>
<p>Meet here: <%= @center.address %></p>

<%= @business_name %>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=12&markers=#{@center.latitude}%2C#{@center.longitude}&markers=#{@loc1.latitude}%2C#{@loc1.longitude}&markers=#{@loc2.latitude}%2C#{@loc2.longitude}" %>


